# general
alias c="clear"
alias cls="clear"
# use batcat for improved file printing
alias ct="batcat"

# quick-source aliases
alias sal="source ~/dotfiles/.aliases"
alias sz="source ~/dotfiles/.zshrc"

# quick-pull dotfiles
alias udf="cd ~/dotfiles && git pull"

# ignore node_modules folder with grep
alias grep="grep --color=auto --exclude-dir=\node_modules"
alias compress="tar -czvf" # create gzip archive
alias extract="tar -xzvf" # extract gzip archive
alias wget="wget -c" # resume downloads

# directory navigation
alias cd..="cd .."
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias fm="nautilus ."

# package manager
alias agi="sudo apt-get install"
alias agu="sudo apt-get update"
alias agup="sudo apt-get upgrade"
alias agr="sudo apt-get remove"
alias agar="sudo apt-get autoremove"
alias aar="sudo add-apt-repository"

# programming
alias rb="ruby"
alias irbs="irb --simple-prompt"
alias py3="python3.10"
alias ipy="py3 -m IPython"
alias venv="py3 -m venv"
alias acd="source ~/dotfiles/venv/bin/activate"
alias ac="source venv/bin/activate"
alias de="deactivate"
alias dcu="docker-compose up"

# exa
alias l="exa --icons -a"
alias la="exa --icons -a"
alias ll="exa --icons -l -a"

# fzf
alias fz="fzf-tmux --ansi --preview='right:60%' --preview 'bat --color=always --style=header,grid --line-range :300 {}'"
alias vz="nvim \$(fzf-tmux --ansi --preview='right:60%' --preview 'bat --color=always --style=header,grid --line-range :300 {}')"

# fasd
alias a='fasd -a'        # any
alias s='fasd -si'       # show / search / select
alias d='fasd -d'        # directory
alias f='fasd -f'        # file
alias sd='fasd -sid'     # interactive directory selection
alias sf='fasd -sif'     # interactive file selection
alias v='f -e nvim'       # quick opening files with vim
alias z='fasd_cd -d'     # cd, same functionality as j in autojump
alias zz='fasd_cd -d -i' # cd with interactive selection

# git
alias gpom="git push -u origin main"
alias gpoma="git push -u origin master"
alias gpw="git config credential.helper 'cache --timeout=72000'"
alias gad="git add ."
alias grd="git reset ."
alias grh="git reset HEAD~"
