alias c="clear"
alias cls="clear"
alias ..="cd .. && ls"
alias ...="cd ../.. && ls"
alias cdd="cd /mnt/c/Users/Zane/Downloads && ls"
alias cddd="cd /mnt/c/Users/Zane/Documents/ && ls"
alias ag="sudo apt-get"
alias agi="sudo apt-get install"
alias agr="sudo apt-get remove"
alias agar="sudo apt-get autoremove"
alias agu="sudo apt-get update"
alias aguu="sudo apt-get upgrade"
alias aar="sudo add-apt-repository"
alias rb="ruby"
alias irbs="irb --simple-prompt"
alias py="python -m IPython"
alias lg="/bin/bash --login"
alias gg="exit"
alias cdp="cd /mnt/c/Users/Zane/Documents/Projects"
alias ac="source venv/bin/activate"
alias de="deactivate"
alias cdcs="cd /mnt/c/Users/Zane/Documents/CS2150"
alias cdcsl="cd /mnt/c/Users/Zane/Documents/CS2150/Labs/"
alias cdcr="cd /mnt/c/Users/Zane/Documents/Projects/cryptobot && source venv/bin/activate && cd cryptobot"
alias ccp="cd /mnt/c/Users/Zane/Documents/Projects/cryptobot && source venv/bin/activate && cd cryptobot && python check_balance.py"
alias gpom="git push -u origin master"
alias gpw="git config credential.helper 'cache --timeout=72000'"
alias sshcs="ssh zb7aa@labunix01.cs.virginia.edu"
alias a="./a.out"
alias clang++="clang++-5.0"
alias cpp="clang++-5.0"
alias cdb="clang++-5.0 -Wall -g"
