Xft.dpi:       220
Xft.antialias: true

! special
*.foreground:   #ABB2BF
*.background:   #282C34
*.cursorColor:  #ABB2BF

! black
*.color0:       #282C34
*.color8:       #3E4452

! red
*.color1:       #E06C75
*.color9:       #BE5046

! green
*.color2:       #98C379
*.color10:      #98C379

! yellow
*.color3:       #E5C07B
*.color11:      #D19A66

! blue
*.color4:       #61AFEF
*.color12:      #61AFEF

! magenta
*.color5:       #C678DD
*.color13:      #C678DD

! cyan
*.color6:       #56B6C2
*.color14:      #56B6C2

! white
*.color7:       #ABB2BF
*.color15:      #5C6370

URxvt.background: #282C34
URxvt.depth: 32
URxvt.scrollBar: false
URxvt.visualBell: false
URxvt.font: xft:Roboto Mono for Powerline:size=8
URxvt.iso14755:    false
URxvt.iso14755_52: false
URxvt.internalBorder: 25
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard

rofi.modi:                           window,drun,run
rofi.sidebar-mode:                   true
rofi.terminal:                       urxvt
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.opacity:                        80
rofi.width:                          45
rofi.lines:                          10
rofi.columns:                        1
rofi.font:                           ClearSansMedium 13
rofi.drun-icon-theme:                Numix-Circle
rofi.show-icons:                     false
rofi.bw:                             10
rofi.location:                       0
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.padding: 50
rofi.line-margin:                    10
rofi.separator-style:                solid
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width: 0
rofi.color-enabled: true
rofi.color-window: #2f343f, #2f343f, #2f343f
rofi.color-normal: #2f343f, #d8dee8, #2f343f, #2f343f, #bf616a
rofi.color-active: #2f343f, #b48ead, #2f343f, #2f343f, #93e5cc
rofi.color-urgent: #2f343f, #ebcb8b, #2f343f, #2f343f, #ebcb8b
