<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.openinspacemacs</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>F67B6E49-A797-4CBF-BF7A-B0AF57C9FCA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7282281-3ADC-40C4-BA83-5A4D72606398</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zane Bilous</string>
	<key>description</key>
	<string>Opens a file in Emacs using iTerm2</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in Spacemacs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

set finderSelection to ""
set theTarget to ""
set appPath to path to application "Emacs"
set defaultTarget to (path to home folder as alias)
-- comment line above and uncomment line below to open desktop instead of user home when there's no selection or open folder in the Finder:
-- set defaultTarget to (path to desktop folder as alias)

if (q as string) is "" then
	tell application "Finder"
		set finderSelection to (get selection)
		if length of finderSelection is greater than 0 then
			set theTarget to finderSelection
		else
			try
				set theTarget to (folder of the front window as alias)
			on error
				set theTarget to defaultTarget
			end try
		end if

		tell application "Finder"
			open theTarget using appPath
		end tell

	end tell
else
	try
		set targets to {}
		set oldDelimiters to text item delimiters
		set text item delimiters to tab
		set qArray to every text item of q
		set text item delimiters to oldDelimiters
		repeat with atarget in qArray

			if atarget starts with "~" then
				set userHome to POSIX path of (path to home folder)
				if userHome ends with "/" then
					set userHome to characters 1 thru -2 of userHome as string
				end if

				try
					set atarget to userHome &amp; characters 2 thru -1 of atarget as string
				on error
					set atarget to userHome
				end try

			end if

			set targetAlias to ((POSIX file atarget) as alias)
			set targets to targets &amp; targetAlias
		end repeat

		set theTarget to targets

		tell application "Finder"
			open theTarget using appPath
		end tell

	on error
		return (atarget as string) &amp; " is not a valid file or folder path."
	end try
end if


end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>F7282281-3ADC-40C4-BA83-5A4D72606398</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>sm</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>subtext</key>
				<string>Open in Spacemacs</string>
				<key>title</key>
				<string>Spacemacs</string>
				<key>types</key>
				<array>
					<string>com.netscape.javascript-source</string>
					<string>com.sun.java-source</string>
					<string>public.c-plus-plus-source</string>
					<string>public.css</string>
					<string>public.html</string>
					<string>public.json</string>
					<string>public.plain-text</string>
					<string>public.python-script</string>
					<string>public.ruby-script</string>
					<string>public.shell-script</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>F67B6E49-A797-4CBF-BF7A-B0AF57C9FCA5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>F67B6E49-A797-4CBF-BF7A-B0AF57C9FCA5</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>F7282281-3ADC-40C4-BA83-5A4D72606398</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
